<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 日志名称 -->
	<property name="FILE_NAME" value="netty-client" />
	<!-- 文件输出格式 -->
	<property name="PATTERN" value="%-5p [%X{ip}] [%X{uuId}] [%X{userName}] %d [%c:%L] - %m%n" />
	<!-- test文件路径 -->
	<property name="FILE_PATH" value="D:/var/logs/supply" />
	<!-- pro文件路径 -->
	<property name="PRO_FILE_PATH" value="D:/var/logs/supply" />


	<!-- 开发环境 -->
	<springProfile name="dev">
		<appender name="ConsoleLog" class="ch.qos.logback.core.ConsoleAppender">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>${PATTERN}</pattern>
			</layout>
		</appender>
		<!-- 系统服务日志 -->
		<appender name="ServerLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
				<!--日志文件输出的文件名 -->
				<FileNamePattern>${FILE_PATH}/${FILE_NAME}.log_%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
				<!--日志文件保留天数 -->
				<MaxHistory>1</MaxHistory>
				<MaxFileSize>200MB</MaxFileSize>
				<totalSizeCap>1GB</totalSizeCap>
			</rollingPolicy>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>${PATTERN}</pattern>
			</layout>
		</appender>

		<!-- 错误日志 -->
		<appender name="ErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<!-- 过滤掉 TRACE 和 DEBUG 级别的日志-->
			<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
				<level>WARN</level>
			</filter>
			<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
				<!--日志文件输出的文件名 -->
				<FileNamePattern>${TEST_FILE_PATH}/${FILE_NAME}-error.log_%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
				<!--日志文件保留天数 -->
				<MaxHistory>1</MaxHistory>
				<MaxFileSize>200MB</MaxFileSize>
				<totalSizeCap>1GB</totalSizeCap>
			</rollingPolicy>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>${PATTERN}</pattern>
			</layout>
		</appender>


		<root level="info">
			<appender-ref ref="ConsoleLog" />
			<appender-ref ref="ServerLog" />
			<!--<appender-ref ref="ErrorLog" />-->
		</root>
	</springProfile>

</configuration>
