<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>骁儿爱胡尧</title>
</head>
<body>
<h1>学生</h1>
<div id="app">
    <!--{{ message }}

    <button @click="counter += 1">Add 1</button>
    <p>The button above has been clicked {{ counter }} times.</p>

    <button style="height:40px;width:100px;" @click="test1('骁儿')">爱骁儿</button>
    <button @click="warn('陈琳食屎.', $event)">
        Submit
    </button>
    <hr/>-->
    <table>
        <tr v-for="(user, index) of users">
            <td>{{index+1}}</td>
            <td>id: {{user.id}}</td>
            <td>name: {{user.name}}</td>
            <td>age: {{user.age}}</td>
            <td>address: {{user.address}}</td>
            <td>
                <button @click="update(user)">修改</button>
                |
                <button @click="del(user.id)">删除</button>
            </td>
        </tr>
    </table>

    <hr/>
    <h2>新增学生</h2>
    <form @submit.prevent="add()">
        姓名：<input type="text" v-model="name">
        年龄：<input type="number" v-model="age">
        地址：<input type="text" v-model="address">
        <input type="submit" value="添加">
    </form>
</div>


<script src="./js/vue.js"></script>
<script src="https://unpkg.com/axios@0.21.1/dist/axios.min.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            message: 'Hello 胡尧!',
            counter: 0,
            users: [
                {
                    id: 1,
                    name: '庚庚',
                    age: 19,
                    address: '荆州天猫'
                },
                {
                    id: 2,
                    name: '胶皮勇',
                    age: 22,
                    address: '孝感米酒'
                }
            ],
            name: '',
            age: '',
            address: ''
        },
        methods: {
            test1: function (content) {
                alert(content);
            },
            add() {
                // alert(this.name+' '+this.age+' '+this.address)
                const student = {
                    name: this.name,
                    age: this.age,
                    address: this.address
                }
                axios.post("http://127.0.0.1:10000/student/", student)
                    .then((response) => {
                        alert(response.status);
                    }).catch((error) => {
                    console.log(error);
                });
            },
            warn: function (message, event) {
                // 现在我们可以访问原生事件对象
                if (event) {
                    event.preventDefault()
                }
                alert(message)
            },
            update(updateUser) {
                /*for(var i=0;i<this.users.length;i++){
                    var user = this.users[i];
                    if(updateUser.id===user.id){
                        alert(user.name);
                    }
                }*/
                // alert(JSON.stringify(updateUser));
                axios.put("http://127.0.0.1:10000/student/", updateUser)
                    .then((response) => {
                        alert(response.status);
                    }).catch((error) => {
                    console.log(error);
                });
            },
            del(id) {
                /*for (var i = 0; i < this.users.length; i++) {
                    var user = this.users[i];
                    if (id === user.id) {
                        alert(user.address);
                    }
                }*/
                axios.delete(`http://127.0.0.1:10000/student/${id}`)
                    .then((response) => {

                        alert(response.status);
                    }).catch((error) => {
                        console.log(error);
                    });
            }
        },
        mounted() {
            axios.get("http://127.0.0.1:10000/student/list").then((response) => {
                console.log(response.status);
                this.users = response.data;
            }).catch((error) => {
                console.log(error);
            });
        }
    })
</script>
</body>
</html>